.actu {
  -moz-transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  opacity: 0;
}

.actu.in-view {
  opacity: 1;
}

.actu:nth-child(1) {
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
}

.actu:nth-child(2) {
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms;
}

.actu:nth-child(3) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}


.series-paires .serie {
  opacity: 0;
  margin-left: -10rem;
  -moz-transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.series-paires .serie.in-view {
  opacity: 1;
  margin-left: 0;
}

.series-impaires .serie {
  opacity: 0;
  margin-left: 10rem;
  -moz-transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.series-impaires .serie.in-view {
  opacity: 1;
  margin-left: 0;
}