div.header-button {
    .header-button {
      margin-left: 22%;
  }
}

.blue-button {
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 7px black;
  cursor: pointer;
  background: $primaryColor;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
}
