.header-button {
    .header-button {
      margin-left: 22%;
  }
}

.blue-button {
  text-transform: uppercase;
  border: none;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  background: $primaryColor;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
}
