input {
  padding: 0.4rem;
  border: 2px solid $primaryColor;
  border-radius: 5px;
}

input:focus {
  outline: 0;
  border: 2px solid $thirdColor;
}

input.input-text, input.input-login {
  width: 250px;
}

input.input-login {
  width: 260px;
}