.staff, .auteur {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 5px 0;

  .membre {
    float: left;
    position: relative;

    .image-basic {
      padding: 0 5px;

      h4 {
        margin: 0.5rem 0 0.2rem 0 ;
        text-align: center;
      }

      .membre-img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .image-expand {
      position: relative;
      left: -5px;
      padding: 0 5px;
      box-sizing: content-box;
      overflow: hidden;
      background: #222;
      max-height: 0;
      transition: max-height .3s ease-in-out,margin-bottom .1s .2s;

      .membre-presentation {
        width: 95%;
        display: flex;
        color: white;

        p {
          width: 50%;
          padding: 1rem 2rem;
        }

        .projets-articles {
          width: 50%;
          display: flex;
          justify-content: center;
          padding: 1rem;
          margin: 1rem 0;

          .membre-projets {
            padding: 0 1rem;
            margin: 0 2rem;
          }

          .articles-recents {
            padding: 0 1rem;
            margin: 0 2rem;

            ul {
              list-style-type: none;
              padding: 0;

              li {
                a {
                  color: $primaryColor;
                }
              }
            }
          }
        }
      }

      .expand-close {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #454545;
        font-size: 50px;
        line-height: 50px;
        text-decoration: none;
      }

      .expand-close:before {
        content: '×';
      }

      .expand-close:hover {
        color: #fff;
      }
    }
  }

  .membre.is-collapsed {
    .image-basic {
      cursor: pointer;

      .arrow-up {
        height: 10px;
        width: 100%;
      }
    }
  }

  .membre.is-expanded {
    .image-basic {
      .arrow-up {
        border-bottom: 8px solid #222;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        height: 0;
        width: 0;
        margin: 2px auto 0;
      }
    }
    .image-expand {
      max-height: 500px;
      margin-bottom: 10px;
    }
  }
} // .staff



@media only screen and (max-width: 530px) {

  .membre {
    width: 50%;

    .image-expand {
      width: 200%;
    }
  }

  .membre:nth-of-type(2n+2) .image-expand {
    margin-left: -100%;
  }

  .membre:nth-of-type(2n+3) {
    clear:left;
  }



}

@media only screen and (min-width: 531px) {
  .membre {
    width: 20%;

    .image-expand {
      width: 500%;
    }
  }

  .membre:nth-of-type(5n+2) .image-expand {
    margin-left: -100%;
  }

  .membre:nth-of-type(5n+3) .image-expand {
    margin-left: -200%;
  }

  .membre:nth-of-type(5n+4) .image-expand {
    margin-left: -300%;
  }

  .membre:nth-of-type(5n+5) .image-expand {
    margin-left: -400%;
  }

  .membre:nth-of-type(5n+6) {
    clear: left;
  }



}