nav {
    display: flex;
    justify-content: center;
    z-index: 4000;
    position: relative;

    ul:first-child {
      li:last-child {
        margin-right: 2rem;
      }
      li:first-child {
        margin-left: 2rem;
      }
    }

    ul:last-child {
      li:first-child {
        margin-left: 2rem;
      }
      li:last-child {
        margin-right: 2rem;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      font-size: 1.5rem;
      height: 3rem;
      background: rgba(255,255,255, 0.8);

      li {
        margin: 0.5rem 1rem;

        a {
          color: black;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    } // ul

    .header-logo {
      width: 7%;
      padding: 2rem 1rem;
      border-radius: 0 0 50% 50%;
      background: black;
      img {
        width: 100%;
      }
    }

  } // nav
