.header-reader {
  height: 60vh;

  .read-menu {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: flex-end;

    .read-titre {
      width: 45%;
      margin-bottom: 3rem;

      h1 {
        background: #2b2b2b;
        color: white;
        text-align: right;
        padding: 1rem;
      }
    }

    .read-img {
      width: 10%;
      overflow: hidden;

      img {
        width: 100%;
        border: 3px solid $primaryColor;
      }
    }

    .select-container {
      display: flex;
      width: 45%;
      margin-bottom: 3rem;
      justify-content: center;
      padding: 1rem;
      background: #2b2b2b;
      .read-select {
        width: 65%;

        select {
          width: 80%;
          padding: 0.2rem 0.4rem;
        }


      }
    }

  } // .read-menu
} // .header-reader

.main-reader {
  background: #2b2b2b;
  text-align: center;
  padding-top: 2rem;
  color: white;

  .pages-reader {
    position: relative;
    z-index: 0;

    .arrow-back {
      left: 2%;
    }

    .arrow-next {
      right: 2%;
    }

    img {
      width: 48%;
      margin: 0 -3px;
    }
  } // .pages-reader

  .pejis-reader {
    z-index: 0;

    .img-manga {
      position: relative;

      .arrow-back {
        left: 17.5%;
      }

      .arrow-next {
        right: 17.5%;
      }

      img {
        width: 65%;
      }
    }
  } // .pejis-reader

  .arrow-back, .arrow-next {
    position: absolute;
    height: 100%;
    z-index: 10000;
    width: 10%;
    top: 0;
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      color: black;
      font-size: 4rem;
    }
  }

  .arrow-back:hover, .arrow-next:hover {
    opacity: 0.4;
    background-color: rgba(255,255,255,1);
  }

  .next-prev {
    a {
      color: white;
    }

    a:hover {
      color: darken(white, 40%);
    }
  }
} // .main-reader

// Owl Carousel

.owl-pagination{
  height: 550px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primaryColor;
  }
}