#mag-carousel {
  width: 90%;
  height: 88vh;
  margin: auto;
  display: flex!important;
  border: 2px solid black;
  background: white;

  .mag-container {
    width: 80%;
    padding: 1rem;

    h3 {
      text-align: center;
      padding: 0.5rem 0;
      color: $secondaryColor;
      text-transform: uppercase;
      font-size: 2rem;

      .date-sortie {
        margin-left: 2rem;
      }

      .date-sortie:before {
        content: "~ "
      }
    }

    .edito-couv {
      display: flex;

      .mag-btn-edito {
        display: flex;

        .mag-liens {
          padding: 1rem;
          width: 42%;
          position: relative;

          h4 {
            display: none;
            text-align: center;
            text-transform: uppercase;
            color: $secondaryColor;
            font-size: 2rem;
            line-height: 1.5;
          }

          ul {
            display: none;
            list-style-type: none;
            padding: 1rem 0;
            margin: 0;

            li {
              font-size: 1.5rem;
            }

            li:before {
              content: "- ";
            }
          }

          a {
            display: block;
          }

          .id-mag {
            position: absolute;
            bottom: 5rem;
            left: 0;

            img {
              width: 100%;
            }
          }
        }

        .mag-edito {
          padding: 0 2rem;
          text-align: justify;
          width: 65%;


        }
      }

      .mag-couv {
        width: 30%;
        padding: 0.5rem;

        img {
          transform: rotate(-7deg);
        }
      }
    }
  }

  .owl-controls {
    width: 20%;
    text-align: center;

    .owl-page {
      padding: 1rem;
      color: $primaryColor;

      .owl-numbers {
        text-transform: uppercase;
        font-size: 1.8rem;
      }

      .owl-numbers:before {
        content: "numéro "
      }
    }

    .active {
      background: $primaryColor!important;
      color: white!important;
    }

    .owl-prev {
      position: absolute;
      font-size: 2rem;
      right: -41px;
      top: 0;
    }

    .owl-next {
      position: absolute;
      font-size: 2rem;
      right: -41px;
      bottom: 0;
    }
  }


}