@import './partials/variables';
@import './partials/mixins';
@import './partials/buttons';
@import './partials/form';
@import './partials/menu';
@import './partials/headerSlider';

body {
  font-size: 16px;
  line-height: 1.5;

  h1,h2,h3,h4,h5,h6 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
}

header {
  height: 64vh;
  position: relative;
  background: #FFB36D!important;

  #header-slider{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;

    .item {
      display: flex;
      width: 100%;
      height: auto;

      .slide-description {
        width: 30%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;

        h3 {
          text-align: center;
          margin-left: 22%;
        }

        p {
          margin-left: 22%;
        }

        button {
          text-align: center;
          margin-left: 22%;
          padding: 1rem 2rem;
          text-transform: uppercase;
          border: none;
          box-shadow: 1px 1px 7px black;
          cursor: pointer;
          background: $primary;
          color: white;
        }

        button:active {
          box-shadow: none;
        }
      }

      .img-slide {
        width: 70%;
        height: 64vh;

        img {
          width: 100%;
          height: 64vh;
        }
      } // .img-slide
    } // .item

    .owl-prev {
      position: absolute;
      top: 50%;
      left: 0.5rem;

      .fa {
        font-size: 2.5rem;
      }
    }

    .owl-next {
      position: absolute;
      top: 50%;
      right: 0.5rem;

      .fa {
        font-size: 2.5rem;
      }
    }
  } // #header-slider
} // header

main {
  padding-bottom: 1rem;

  .container-webzine {
    height: 62vh;
    display: flex;
    box-shadow: inset 1px 10px 35px black;
    border-top: 2px solid black;
    background: asset_data_url('webzinebg.jpg') 100% 0% no-repeat;


    .webzine {
      margin: auto;
      width: 40%;
      background: rgba(255,255,255, 0.8);
      border-radius: 6px;
    }
    h1 {
      text-align: center;
    }
    div.header-button {
      text-align: center;
      img {
        width: 40%;
      }
    } // .header-button
  } // .container-webzine


  section.actus {
    display: flex;
    background: $primary;
    width: 100%;

    .container-actu {
      width: 75%;
      display: flex;

      div.actu:first-child {
        margin: 2rem 1rem 2rem 2rem;
      }

      div.actu:nth-child(3) {
        margin: 2rem 2rem 2rem 1rem;
      }

      div.actu {
        width: 29%;
        background: white;
        margin: 2rem 1rem;
        text-align: justify;
        border-radius: 4px;
        position: relative;

        h3 {
          text-align: center;
          padding: 0 1rem;
        }

        p {
          padding: 0 1rem;
          margin-bottom: 0.5rem;
        }

        img {
          width: 100%;
          height: 200px;
        }

        a {
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          position: absolute;
          bottom: 0;
          background: $secondary;
          text-decoration: none;
          color: black;
          padding: 0.2rem 0;
        }
      } // .actu
    } // .container-actu

    div.actu-lien {
      width: 25%;
      background: $secondary;

      p {
        text-align: center;
        font-size: 2rem;
        padding: 0 1rem;
      }

      .fa {
        display: block;
        font-size: 10rem;
        text-align: center;
        margin: 1rem 0;
      }

      a {
        display: block;
        text-align: center;
        font-size: 2rem;
        margin: 1rem 0;
        color: black;
      }
    } // .actu-lien
  } // .actus

  section.presentation-asso {
    background: asset_data_url('background04.jpg');
    padding: 2rem 0;

    .cadre-asso {
      background: white;
      display: flex;
      width: 80%;
      margin: 4rem 10rem;

      border: 2px solid black;
      position: relative;

      .presentation-texte {
        width: 53%;
        padding: 0.5rem 1rem;

        p {
          text-align: justify;
        }
      }

      .presentation-img {
        img {
          position: absolute;
          bottom: -2rem;
          right: 0;
        }
      }
    }
  } // section .presentation-asso

  .last-mag {
    background: $primary;
    display: flex;
    padding: 1rem;
    color: white;

    .id-mag {
      padding: 0 1rem;

      h3 {
        text-align: center;
        border: 4px solid white;
        padding: 1rem 0;
        margin: 1rem 0;
      }
    } // id-mag

    .edito {
      padding: 0 2rem;
      text-align: justify;
      order: 3;

      p {
        margin: 0;
      }
    } // edito
  } // last-mag

  .mags-container {
    width: 100%;
    padding: 3rem 0;
    background: asset_data_url('bgmags.jpg')
  }



} // main

.series-container {
  background: asset_data_url('bgseries.jpg');

  .cadre-container {
    width: 90%;
    margin: auto;
    background: white;
    border-left: 30px $primary;
    border-right: 30px $secondary;

    .flex-series {
      display: flex;

      .series-paires {
        width: 45%;
      }

      .barre {
        width: 3px;
        background: black;
      }

      .series-impaires {
        width: 45%;
      }
    }
  }
}