@import './partials/variables';
@import './partials/mixins';
@import './partials/buttons';
@import './partials/form';
@import './partials/menu';

body {
  font-size: 16px;
  line-height: 1.5;

  h1,h2,h3,h4,h5,h6 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
}

header {
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  div.header-button {
    text-align: center;
    margin: 3rem 0;
    img {
      width: 20%;
      margin-right: 2.5rem;
    }
  }

}

main {
  section.actus {
    display: flex;

    div.actu {
      width: 25%;
      background: $primary;
    }

    div.actu-lien {
      width: 25%;
      background: $secondary;
    }
  }
}
