<div class="test">
<% @diapos.each do |d| %>
    <%= image_tag d.image, size: '100x100' %>
<% end %>
</div>

<blockquote>@articles.last(3).each do |a|</blockquote>

<section class="actus">
    <div class="actu1">
      <!--<img src="" alt="">-->
      <p>blabla</p> a.contenu
      <button>Lire la suite <i></i></button>
    </div>


  <div class="actu2">
    <!--<img src="" alt="">-->
    <p>blabla</p>
    <button>Lire la suite <i></i></button>
  </div>

  <div class="actu3">
    <!--<img src="" alt="">-->
    <p>blabla</p>
    <button>Lire la suite <i></i></button>
  </div>

  <div class="actu-bloc">
    <p>Pour les autres articles c'est par ici !</p>
    <%= link_to 'Blog', blog_path %>
  </div>
</section> <!-- .actus -->

<section class="mag-apercu">
  <img src="" alt="">
  <p>Description du dernier mag</p>
  <div class="lienNouveauNum">
    <p>N'attendez plus pour découvrir notre nouveau numéro !</p>
    <a href="">Lire le dernier mag</a>
  </div>
</section> <!-- .mag-apercu -->

<section class="presentation-asso">

</section> <!-- .presentation-asso -->