<p>
  <strong>Image:</strong>
  <%= image_tag @peji.image, size: '500x500' %>
</p>

<p>
  <strong>Manga:</strong>
  <%= @peji.chapter.titre %>
</p>

<%= link_to '< Précédent', manga_chapter_peji_path(id: @peji.previous.scan_number, chapter_id: @chapter.slug) if @peji.previous %> |
<%= link_to 'Suivant >', manga_chapter_peji_path(id: @peji.next.scan_number, chapter_id: @chapter.slug) if @peji.next %>

