<h1>Carousels du header</h1>

<%= render 'form', admin_carousel: @admin_carousel %>
<br />

<% @admin_carousels.each do |c| %>

<%= image_tag c.image, size: '100x100' %>
<%= link_to 'Supprimer', c, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Modifier', edit_admin_carousel_path(c) %>
<% end %>


<br />
