
<h1>Admin Carousels</h1>

<%= render 'form', admin_carousel: @admin_carousel %>
<br />

<% @admin_carousels.each do |admin_carousel| %>

<%= image_tag admin_carousel.image, size: '100x100' %>
<%= link_to 'Destroy', admin_carousel, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>


<br />