<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @admin_carousel.image %>
</p>

<%= link_to 'Edit', edit_admin_carousel_path(@admin_carousel) %> |
<%= link_to 'Back', admin_carousels_path %>
