<h1>Je veux changer mon mot de passe !</h1>
<%= form_for @user, :html => {:class=>'form-admin'} do |f| %>
    <p>
      <%= f.password_field :password, :placeholder=>'Nouveau mot de passe', :class=>'input-text' %>
    </p>

    <p>
      <%= f.password_field :password_confirmation, :placeholder=>'Confirmez votre nouveau mot de passe', :class=>'input-text' %>
    </p>

    <%= f.submit "Changer mon mot de passe", class: 'blue-button' %>


<% end %>