<h1>Je veux changer mon mot de passe !</h1>
<%= form_for @user, :html => {:class=>'form-admin'} do |f| %>
    <p>
      <%= f.password_field :password, :placeholder=>'Nouveau mot de passe', :class=>'input-text', :id=>'password' %>
    </p>
    <p class="error-toggle">Mot de passe invalide. Il doit faire au moins 2 caractères et max 15 caractères, contenir au moins un nombre
      et un caractère spécial (ex: a1B2^c3%)</p>

    <p>
      <%= f.password_field :password_confirmation, :placeholder=>'Confirmez votre nouveau mot de passe', :id=>'password-confirm', :class=>'input-text' %>
    </p>
    <p class="error-toggle">Mot de passe invalide. Il doit faire au moins 2 caractères et max 15 caractères, contenir au moins un nombre
      et un caractère spécial (ex: a1B2^c3%)</p>

    <%= f.submit "Changer mon mot de passe", class: 'blue-button' %>


<% end %>